[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Jenkinsfile configuration example using a shared-library that defines the standard Pipeline stages "
[access "refs/*"]
	owner = group user/RavitejaReddy143
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/RavitejaReddy143
	label-Verified = -1..+1 group user/RavitejaReddy143
	push = group user/RavitejaReddy143
	read = group user/RavitejaReddy143
	rebase = group user/RavitejaReddy143
	removeReviewer = group user/RavitejaReddy143
	submit = group user/RavitejaReddy143
[access "refs/heads/*"]
	create = group user/RavitejaReddy143
	push = +force group user/RavitejaReddy143
	pushMerge = group user/RavitejaReddy143
	read = group user/RavitejaReddy143
[access "refs/tags/*"]
	push = group user/RavitejaReddy143
	push = +force group user/RavitejaReddy143
